body,pre {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(226, 193, 60);
}

pre {
    white-space: pre-wrap;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 150px; /* Adjust the size as needed */
    margin-right: 10px;
}

.company-info {
    text-align: left;
}

h1, .slogan {
    margin: 0;
}

.slogan {
    font-style: italic;
}

.main-content {
    padding: 20px;
}

footer {
    background-color: black;
    color: rgb(226, 193, 60);
    padding: 20px;
    text-align: center;
}

.contact-us {
    border-top: 2px solid rgb(226, 193, 60);
    padding-top: 10px;
    margin-top: 10px;
}

a {
    color: rgb(226, 193, 60);
}

a:hover {
    text-decoration: underline;
}

.construction-animation {
    text-align: center;
}

.coming-soon {
    font-size: 24px;
    color: rgb(226, 193, 60);
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    animation: fallAnimation 1.5s forwards ease-in-out, heartbeatAnimation 2s infinite alternate ease-in-out;
}

@keyframes fallAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1.2);
    }
}

@keyframes heartbeatAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}